---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: ReferenceGrant
metadata:
  name: consul-reference-grant
spec:
  from:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      namespace: consul-ingress
  to:
    - group: ""
      kind: Service
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute
metadata:
  name: route-n8n
spec:
  parentRefs:
    - name: api-gateway
      namespace: consul-ingress
  hostnames:
    - n8n
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - kind: Service
          name: n8n
          port: 5678
---
apiVersion: consul.hashicorp.com/v1alpha1
kind: ServiceDefaults
metadata:
  name: n8n
spec:
  protocol: http
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  labels:
    app: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
      annotations:
        "consul.hashicorp.com/connect-inject": "true"
    spec:
      initContainers:
        - name: volume-permissions
          image: busybox:latest
          command: ['sh', '-c', 'chown -R 1000:1000 /data']
          volumeMounts:
            - name: n8n-data
              mountPath: /data
      containers:
        - name: n8n
          image: n8nio/n8n:latest
          ports:
            - containerPort: 5678
          env:
            - name: N8N_EDITOR_BASE_URL
              value: "http://n8n"
            - name: WEBHOOK_URL
              value: "http://n8n/"
            - name: GENERIC_TIMEZONE
              value: "America/New_York"
            - name: N8N_SECURE_COOKIE
              value: "false"
          volumeMounts:
            - name: n8n-data
              mountPath: /home/node/.n8n
      volumes:
        - name: n8n-data
          persistentVolumeClaim:
            claimName: n8n-nfs
---
apiVersion: v1
kind: Service
metadata:
  name: n8n
spec:
  type: ClusterIP
  ports:
    - port: 5678
      targetPort: 5678
  selector:
    app: n8n
